{% extends 'basis/base.html' %}

{% block title %}
Cart | Stepik Delivery
{% endblock %}

{% block header %}
{% include 'basis/header.html' %}
{% endblock %}

{% block main %}
<main class="container">
    <h1 class="h3 my-4">Корзина</h1>

    <div class="row mt-5">
        <div class="col-4">
            <form action="/ordered" method="post">
                <h4 class="">Ваши данные</h4>
                <div class=" md-4 order-md-1">
                    <div class="mt-3 mb-3">
                        {{ form.name.label }}
                        {{ form.name(class='font-weight-bold form-control') }}
                    </div>
                </div>
                <div class=" md-4 order-md-1">
                    <div class="mt-3 mb-3">
                        {{ form.address.label }}
                        {{ form.address(class='font-weight-bold form-control') }}
                    </div>
                </div>
                <div class="md-4 form-label-group">
                    {{ form.email.label }}
                    {{ form.email(class='font-weight-bold form-control') }}
                </div>
                <div class=" md-4 order-md-1">
                    <div class="mt-3 mb-3">
                        {{ form.phone.label }}
                        {{ form.phone(class='font-weight-bold form-control') }}
                    </div>
                    {{ form.order_summ() }}
                    {{ form.order_cart() }}
                </div>
                {{ form.submit(class='mt-3 mb-5 btn btn-danger') }}
            </form>
        </div>

        <div class="col-1"></div>
        <div class="col-7">
            <h4 class="mb-3 col-7 mb-5">{{ dishes | length }} {{ decline_dish(dishes | length) }} в корзине</h4>
            <table class="table">
                <tbody>
                {% for dish in dishes %}
                    <tr>
                        <th scope="row">{{ dish.title }}</th>
                        <td></td>
                        <td>1</td>
                        <td>{{ dish.price }}</td>
                        <td><a class="text-danger" href="{{ url_for('delete_from_cart', dish_id=dish.id) }}">Удалить</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <hr>
            <p class="display-4 my-2 ">{{ dishes | sum(attribute='price') }} руб</p>
        </div>
    </div>
</main>
{% endblock %}

{% block footer %}
{% include 'basis/footer.html' %}
{% endblock %}